body
{
	font-family:Calibri, Lucida Console;
	font-size:18px;
}


#wrapper
{
	display: flex;
  justify-content: center;
	font-family:Calibri, Lucida Console;
}

#cvs
{
	border:solid 4px black;
	/* float:left; */
	display: inline-block;
	margin-top:0px;
	cursor:none;
}

#sidebar
{
	background-color:orange;
	width: 360px;
	height:590px;
	border:solid 4px black;
	/* float:left; */
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	display: inline-block;
	margin-top:0px;
}

#country_name
{
	text-align:center;
}

#sidebar_content
{
	display: none;
}

#title_page
{
	text-align:center;
	font-size:36px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
